:root {
  --black: #282828;
  --red: #fb4934;
  --green: #b8bb26;
  --yellow: #fabd2f;
  --blue: #83a598;
  --magenta: #d3869b;
  --cyan: #8ec07c;
  --white: #ebdbb2;
  --lightdark: #3c3836;
  --shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: 1fr 1fr;
  row-gap: 25px;
  column-gap: 15px;
}

.link-wrapper > a {
  text-decoration: none;
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--white);
  border-left: 2px solid var(--white);
  border-bottom: 4px solid var(--white);
  border-right: 5px solid var(--white);
  border-radius: 2px;
  box-shadow: var(--shadow);
  transition: all 0.3s ease-in-out;
}

.link-wrapper > a:hover,
.link-wrapper > a:focus,
.link-wrapper > a:active {
  transform: translateY(5px);
}

.link-wrapper > a > i {
  font-size: 2.3rem;
}

.htb > i {
  color: var(--green);
}

.thm > i {
  color: var(--red);
}

.h101 > i {
  color: var(--magenta);
}

.github > i {
  color: var(--white);
}

.yt > i {
  color: var(--red);
}

.fb > i {
  color: var(--blue);
}

.insta > i {
  color: var(--red);
}
.whatsapp > i {
  color: var(--green);
}
.twitter > i {
  color: var(--blue);
}
.drama > i {
  color: var(--magenta);
}
.torrent > i {
  color: var(--cyan);
}
.fiverr > i {
  color: var(--green);
}
.dashboard > i {
  color: var(--red);
}
.notion > i {
  color: var(--yellow);
}
